body {
    overflow-x: hidden;
    background-color: rgba(226, 201, 171, 0.94);
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.overlay-container {
    padding: 20px;
    background-color: rgba(226, 201, 171, 0.94);
    color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: auto;
    z-index: 2; /* Ensure the overlay container appears above the image*/
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-container {
    width: 100%;
    max-width: 400px;
    /* Adjust the max-width as needed */
    margin: 0 auto;
    /* Center the inner container horizontally */
    padding: 10px;
    background: rgba(226, 201, 171, 0.94);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-box {
    margin-bottom: 20px;
}

.input-box label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-box input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.input-box input[id="text"]:focus {
    border-color: #007bff;
    outline: none;
}


.input-box.button input[type="button"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: start;
} 

.input-box.button input[type="button"]:hover {
    background-color: #1543cb;
    color: white;
    border-color: #1543cb;
}


/* Media query for responsiveness */
@media (max-width: 768px) {
    .overlay-container {
        width: 100%;
        padding: 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(226, 201, 171, 0.94);
    }

    .input-box input[type="text"] {
        font-size: 14px;
        padding: 8px;
    }

    .inner-container {
        padding: 30px;
        max-width: 80%;
    }

    h1 {
        font-size: 1.5rem;
    }
}

h1 {
    text-align: center;
    margin-bottom: 3px;
    font-size: 40px;
    color: #333;
    line-height: 1.5;
    /* Adjust line height for better readability */
    margin-top: 2px;
    /* Adjust top margin to position it higher */
}

.field {
    width: 552.24px;
    height: 40px;
    background: #FFFEFE;
    border-radius: 50px;
    margin-bottom: 20px;
    position: relative;
}

.field:hover {
    background-color: #1543cb;
    color: white;
}

.field:last-child {
    margin-bottom: 0;
}

.field label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    font-size: 20px;
    font-family: Inter;
    font-style: italic;
    font-weight: 700;
}

.submit-button {
    position: relative;
    display: inline-block;
    padding: 30px 200px;
    background: #ffac4a;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.submit-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-family: Inter;
    font-style: italic;
    font-weight: 700;
    color: black;
    width: auto;
}

.submit-button:hover {
    background: #ffa000;
    background-color: #1543cb;
    color: white;
}

.field:last-child {
    margin-bottom: 10px;
}