/* html_login.css */

body {
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    text-align: top;
    margin: 30px;
    font-size: 48px;
    color: #333;
    line-height: 1.5;
    margin-top: 50px;
}
 
.container {
    /* border: 2px solid black;  */
    width: 750.42px;
    height: 700px;
    margin: auto;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    background: #E3C9AB;
} 
.mock-items {
    margin: 30px;
    width: 450.42px;
    height: 500px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 30px;
}

.mock-items h2 {
    font-size: 24px;
    margin: 10px;
    color: #333;
}

.mock-items ul {
    margin: 15px;
    font-size: 18px;
    color: #555;
    margin-bottom: 20px; 
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    .mock-items {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    .mock-items {
        margin: 15px;
    }

    .mock-items h2 {
        font-size: 20px;
    }

    .mock-items ul {
        font-size: 16px;
    }
}
