.chart1, .chart2, .chart3, .chart4 {
    width: 600px;
    height: 400px;
    outline: auto;
}

.chart1 {
    margin: 100px 0 0 20px; /*top right bottom left*/
}

.chart2 {
    margin: 50px 0 0 20px;
}

.chart3 {
    position: absolute;
    top: 100px;
    right: 20px;
    margin: 0;
}

.chart4{
    position:absolute;
    top: 550px;
    right: 20px;
    margin: 0;
}

@media (max-width: 1200px) {
    .chart3 {
        position: relative;
        top: 0;
        right: 0;
        margin: 20px 0;
    }

    .chart4 {
        position: relative;
        top: 0;
        right: 0;
        margin: 20px 0;
    }
}

@media (max-width: 768px) {
    .chart3, .chart4 {
        position: relative;
        top: 0;
        right: 0;
        margin: 20px 0;
    }
}