body {
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 48px;
    color: #333;
    line-height: 1.5;
    margin-top: 50px;
}

.container {
    width: 807.42px;
    height: 591px;
    margin: auto;
    /*centered horizontally */
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid black;
    background: #E3C9AB;
}


.inner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.field {
    width: 552.24px;
    height: 66px;
    background: #FFFEFE;
    border-radius: 50px;
    border: 1px solid black;
    margin-bottom: 20px;
    position: relative;
}

.submit-button {
    width: 547.56px;
    height: 89.84px;
    background: #FFAC4A;
    border-radius: 50px;
    border: 1px solid black;
    position: relative;
    cursor: pointer;
}

.submit-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-family: Inter;
    font-style: italic;
    font-weight: 700;
    color: black;
}

.field button {
    width: calc(100% - 40px);
    height: 40px;
    padding: 8px;
    margin-bottom: 20px;
    margin-left: 20px;
    border: none;
    border-radius: 50px;
    background-color: #FFFEFE;
    box-shadow: none;
    box-sizing: border-box;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    text-align: left;
}