/* General styles */
.overlay-container {
    position: relative;
    top: 120px;
    background-color: rgba(226, 201, 171, 0.94);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 60%;
    margin: 0 auto;
}

.title1 {
    background-color: #ffac4a;
    text-align: center;
    color: black;
    margin-top: 0;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px;
}

.product-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.product-info,
.buttons {
    flex: 0 0 auto;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 200px;
}

.remove-button,
.shopping-button {
    background-color: #ffac4a;
    color: #080808;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    margin-right: 2%;
}

.remove-button:hover,
.shopping-button:hover {
    color: white;
    transition: all 0.3s ease 0s;
    background-color: black;
}

.image {
    margin-top: 20px;
    height: 80%;
    width: 20%;
    margin-bottom: 10px;
    border-radius: 20px;
}

.details {
    flex: 1;
    font-size: 25px;
}

.import-export {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    font-size: 20px;
}

.import-export button {
    margin-left: 10px;
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    border: none; /* Remove default button border */
    cursor: pointer; /* Optional: Change cursor on hover */
}


.import-export button:hover {
    background-color: #ffac4a; 
}


/* Media queries for responsive design */
@media screen and (max-width: 900px) {
    .fixed-header {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .search-input {
        width: 80%;
    }

    .image {
        height: auto;
        width: 50%;
    }


    .navigation-links {
        margin-top: 20px;
    }

    .overlay-container {
        margin-top: 90px;
        width: 95%;
    }
}

@media screen and (max-width: 748px) {
    .fixed-header {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    .image {
        height: auto;
        width: 50%;
    }

    .navigation-links {
        flex-direction: column;
    }

    .navigation-links li {
        margin-bottom: 10px;
    }

    .overlay-container {
        margin-top: 190px;
        width: 95%;
    }

    .search-input {
        width: 80%;
    }
}

@media screen and (max-width: 680px) {
    .title1 {
        font-size: 25px;
    }

    .details {
        font-size: 20px;
    }

    .remove-button, .shopping-button, .import-export {
        font-size: 15px;
    }

    .image {
        height: auto;
        width: 60%;
    }

    .product-container {
        flex-direction: column;
        align-items: center;
    }

    .product-info,
    .buttons {
        margin-left: 0;
        flex-direction: column;
    }
}

@media screen and (max-width: 580px) {
    .title1 {
        font-size: 25px;
    }

    .details {
        font-size: 20px;
    }

    .remove-button, .shopping-button, .import-export {
        font-size: 15px;
    }

    .image {
        height: auto;
        width: 100%;
    }

    .product-container {
        flex-direction: column;
        align-items: center;
    }

    .product-info,
    .buttons {
        margin-left: 0;
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .title1 {
        font-size: 20px;
    }

    .details {
        font-size: 15px;
    }

    .remove-button, .shopping-button, .import-export {
        font-size: 10px;
    }

    .image {
        height: auto;
        width: 100%;
    }

    .product-container {
        flex-direction: column;
        align-items: center;
    }

    .product-info,
    .buttons {
        margin-left: 0;
        flex-direction: column;
    }
}
