body {
  overflow-x: hidden;
  background-color: rgba(226, 201, 171, 0.94);
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.overlay-container {
  padding: 20px;
  background-color: rgba(226, 201, 171, 0.94);
  color: rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: auto;
  z-index: 2;
  /* Ensure the overlay container appears above the image*/
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3px;
  color: #333;
  line-height: 1.5;
  /* Adjust line height for better readability */
}

.inner-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(226, 201, 171, 0.94);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-box {
  margin-bottom: 20px;
}

.input-box label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  font-size: 20px;
  font-family: Inter;
  font-style: italic;
  font-weight: 700;

}

.input-box input[type="email"],
.input-box input[type="password"] {
  width: 90%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input-box input[type="email"]:focus,
.input-box input[type="password"]:focus {
  border-color: black;
  outline: none;
}

.submit-button {
  position: relative;
  /* Ensure the container is positioned relative for absolute positioning of inner elements */
  display: inline-block;
  padding: 30px 200px;
  background: #ffac4a;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid black;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

.submit-button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  color: black;
}

.submit-button:hover {
  background-color: #E8782E;
  color: white;
}

.register-link {
  display: inline-block;
  text-align: center;
  color: #007bff;
}

@media (max-width: 768px) {
  .overlay-container {
    width: 100%;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(226, 201, 171, 0.94);
  }

  .inner-container {
    padding: 30px;
    max-width: 80%;
  }

  .input-box input[type="email"],
  .input-box input[type="password"] {
    font-size: 14px;
    padding: 8px;
  }

  .submit-button {
    padding: 30px 70px;
    display: flex;
    justify-content: center;
   /* max-width: 100%;  Ensure it takes the full width */
  }

  .submit-button span {
    font-size: 16px;
  }

}