body {
    overflow-x: hidden;
    background-color: rgba(226, 201, 171, 0.94);
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.overlay-container {
    padding: 20px;
    background-color: rgba(226, 201, 171, 0.94);
    color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: auto;
    z-index: 2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    background: rgba(226, 201, 171, 0.94);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-box {
    margin-bottom: 20px;
}

.input-box label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-box input[type="email"],
.input-box input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.input-box input[type="email"]:focus,
.input-box input[type="password"]:focus {
    border-color: rgb(0, 0, 0);
    outline: none;
}

.submit-button {
    position: relative;
    display: inline-block;
    padding: 30px 200px;
    background: #ffac4a;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.submit-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-family: Inter;
    font-style: italic;
    font-weight: 700;
    color: black;
    width: auto;
}

.submit-button:hover {
    background-color: #E8782E;
    color: white;
}

/* media query for responsiveness */
@media (max-width: 650px) {
    .overlay-container {
        width: 100%;
        padding: 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(226, 201, 171, 0.94);
    }

    .input-box input[type="email"],
    .input-box input[type="password"] {
        font-size: 14px;
        padding: 8px;
    }

    .inner-container {
        padding: 30px;
        max-width: 80%;
    }

    h1 {
        font-size: 1.5rem;
    }
    
.submit-button {
    padding: 30px 100px;
    display: flex;
    justify-content: center;
  }

  .submit-button span {
    font-size: 20px;
  }
}

h1 {
    text-align: center;
    margin-bottom: 3px;
    font-size: 40px;
    color: #333;
    line-height: 1.5;
    margin-top: 2px;
}