.title1 {
    background-color: #ffac4a;
    border-radius: 20px;
    margin-top: 0;
    font-size: 30px;
    text-align: center;
    color: black;
    padding: 10px 20px;
    font-weight: bold;
}

.overlay-container {
    position: relative;
    top: 120px;
    background-color: rgba(226, 201, 171, 0.94);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 0 auto;
}
 
.new-shoppinglist {
    margin-top: 10px;
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.new-shoppinglist :hover{
    color: #ffac4a;
    transition: all 0.3s ease 0s;
}

.grid-container {
    display: flex;
    justify-content: space-around; /* Adjust as needed for your layout */
}

.shoppinglist-container {
    background-color: antiquewhite;
    display: grid;
    grid-auto-flow: column; /* Make items flow in columns */
    gap: 20px;
    padding: 10px 20px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.shoppinglist-container-alt {
    background-color: lavender;
    display: grid;
    grid-auto-flow: column; /* Make items flow in columns */
    gap: 20px;
    padding: 10px 20px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.shoppinglist-container, .shoppinglist-container-alt {
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    gap: 10px; /* Adjust the space between items */
}

/* Ensure the list items inside .content also stack vertically */
.content ul {
    list-style-type: none; /* Removes default list styling */
    padding: 0; /* Removes default padding */
}

.content ul li {
    margin-bottom: 5px; /* Adds space between list items */
}

.item-remove-button {
    background-color: #f44336; /* A bit more intense color for item deletion */
    color: #ffffff;
    padding: 5px 10px; /* Smaller padding to fit within list items */
    border: none;
    border-radius: 4px; /* Slightly less rounded */
    cursor: pointer;
    font-size: 0.8rem; /* Smaller font size */
    margin-left: 10px; /* Space from the list item text */
    transition: background-color 0.3s ease;
}

.item-remove-button:hover {
    background-color: #d32f2f; /* Darker shade on hover */
    color: #ffffff;
}

.list-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.item-remove-button {
    background-color: black;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background-color 0.3s ease;
}

.item-remove-button:hover {
    background-color: #d32f2f;
}

.remove-button {
    background-color: #ffac4a;
    color: #080808;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    margin-right: 2%;
}
.remove-button:hover {
    color: white;
    transition: all 0.3s ease 0s;
    background-color: black;
}

/* Responsive styles */
@media screen and (max-width: 800px) {
    .fixed-header {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .navigation-links {
        margin-top: 20px;
    }

    .shoppinglist {
        font-size: 24px;
        width: 90%; 
    }

    .overlay-container {
        margin-top: 90px; 
    }

    .new-shoppinglist {
        font-size: 18px;
        right: 100px;
    }
}

@media screen and (max-width: 702px) {
    header {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    .navigation-links {
        flex-direction: column;
    }

    .navigation-links li {
        margin-bottom: 10px;
    }

    .overlay-container {
        margin-top: 190px;
    }
}

@media screen and (max-width: 400px) {
    .title1 {
        font-size: 20px;
    }

    .remove-button {
        font-size: 10px;
    }
}