.chart1,
.chart2,
.chart3,
.chart4,
.chart5,
.chart6,
.chart7,
.chart8,
.chart9,
.chart10 {
    width: 600px;
    height: 400px;
    outline: auto;
}

.chart1
{
    margin: 200px 0 0 20px;
    /*top right bottom left*/
}

.chart2,
.chart8,
.chart9,
.chart10 {
    margin: 50px 0 0 20px;
}

.chart3,
.chart4,
.chart5,
.chart6,
.chart7 {
    position: absolute;
    top: 200px;
    right: 20px;
    margin: 0;
}

.chart4 {
    position: absolute;
    top: 650px;
    right: 20px;
    margin: 0;
}
 .chart5{
    position:absolute;
    top:1100px;
    right:20px;
    margin:0px;
} 
.chart6{
    position:absolute;
    top:1550px;
    right:20px;
    margin:0px;
} 
.chart7{
    position:absolute;
    top:2000px;
    right:20px;
    margin:0px;
}

/* 

.charts {
    margin-top: 100px;
} */

@media (max-width: 1200px) {
    .chart3,
    .chart4,
    .chart5,
    .chart6,
    .chart7
     {
        position: relative;
        top: 0;
        right: 0;
        left:20px;
        margin: 15px 0px;
    }

}


@media (max-width: 768px) {

    .chart3,
    .chart4,
    .chart5,
    .chart6,
    .chart7 {
        position: relative;
        top: 0;
        right: 0;
        margin: 15px 0;
    }
}

@media (max-width: 1114px) {
    .fixed-header {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .search {
        width: 80%;
    }

    .navigation-links {
        margin-top: 20px;
    }

    .charts {
        padding-top: 7px;
    }
}

/* linkurile la pagini vor fi stack-uite */
@media screen and (max-width: 709px) {
    .fixed-header {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    .navigation-links {
        flex-direction: column;
    }

    .navigation-links li {
        margin-bottom: 10px;
    }

    .charts {
        margin-top: 250px;
    }

    .search-input {
        width: 80%;
    }
}